.receita_final{
    color: #DCCA87;
    
}

.inicio{
    margin-left: 2%;
}
.preto{
    color: black;
    border-radius: 20px;
    background-color: #c8c8c8;
}
/* .preto:hover{
    background-color: #DCCA87;
    color: black;
    border: 2px solid 
} */
li{
    color: #c8c8c8;
}
.nav__item_button_receitas{

    margin-right: 30%;
    background: #c8c8c8;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.nav__item_button_receitas_d{
    margin-left:60px ;
    background: #c8c8c8;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.h3_d{
    margin-left: 5%;
}