*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 63.5%;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;

}

.nav__brand {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    font-weight: bold;
}

.nav__item_button_nav {
    color: black;
    padding: 0.5rem 1rem;
    background: #c8c8c8;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

#nav__item_button_nav {
    color: black;
    padding: 0.5rem 1rem;
    background: #c8c8c8;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav__item_button_sign {
    padding: 0.5rem 1rem;
    background: #c8c8c8;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}